.test{
    color: blue;
}

body{
    padding: 0;
    margin: 0;
}

.header {
  overflow: hidden;
  background-color: #1a1d1f;
  padding: 10px 10px;
}

.header a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
}

.header a.logo {
  font-size: 24px;
  font-weight: bold;
}

.func-top{
  padding-top: 20px;
  padding-bottom: 10px;
}

.func{
  padding-top: 20px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
